*{margin:0; padding:0;}
li{list-style: none;}

#wrap{width:100%;}

#header_wrap{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    position: fixed;
}

header {
    margin: 0 auto;
    width: 80%;
}

#logo{width: 140px;}

#logo img{width: 100%;}

#logo,#sns {
    padding-top: 60px;
}
#logo,#sns li{float:left;}

#sns{
    float:right;}

#sns li{width: 34px;
    margin-left: 15px;}


section{width: 100%;
height: 100vh;
background: url(img/KakaoTalk_20180913_211134153.jpg)no-repeat center center;
background-size: cover;}

article{width: 80%;
    height:100vh;
margin: 0 auto;
position:relative;}

.left_img{width: 440px;
    margin-top:20vh;
}

.center{position:absolute;
bottom:0;
    left: 50%;
    transform: translateX(-50%);
}

.right_img{width: 262px;
position:absolute;
right: 0;
bottom:0;}

.right_fix{
    width: 100%;
    height: 100vh;
    position: fixed;
}

.fix{width: 200px;
    position: fixed;
top:130px;
right:0;}

.center-layout {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}




